name: Preview Builds

on:
  pull_request:

jobs:
  preview:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - name: Install dependencies
        run: flutter pub get

      - name: Set up Flutter
        uses: subosito/flutter-action@v2

      - name: Build Flutter web
        run: flutter build web --wasm --pwa-strategy=offline-first

      - name: Deploy (Preview)
        run: |
          npx wrangler pages deploy build/web \
            --project-name=lyrium \
            --branch=pr-${{ github.event.pull_request.number }}
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
